@import 'variables.css';


:root{
    font-family: 'Open Sans';
    box-sizing: border-box;

    @media only screen and (min-device-width: 1650px) {
        font-size: 16px;
    }
    
    @media only screen and (max-device-width : 1024px)  {
        font-size: 12px;
    }
    @media only screen and (max-device-width : 1360px) and (min-device-width: 1024px) {
        font-size: 14px;
    }  
}
 $color: linear-gradient(#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);




body {
    margin: 0;
    padding: 0;
    background-image: url(../images/f.jpg);
    background-color: rgba(255,255,255,.5);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}


*,
*::before,
*::after {
    box-sizing: border-box;
}
#header {
    font-size: 1.5rem;
    position: absolute;
    top: 3%;
    left: 43.5%;
    color: #eee;
    width: 100%;
    font-family: 'Caveat Brush', cursive;
    display: none;
}

.header-primary {
    width: 50%;
    text-align: center;
    color: white;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: 'Caveat Brush', cursive;
    &-day {
        color: black;
    }
    &-night {
        color: white;
    }
}
.header-primary-day {
    @media only screen and (max-device-width : 700px) {
        display: none;
    }
}

.today {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 6%;
    transform: translate(-50%,-50%);
    border: 3px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 27rem;
    height: 44rem;

    @media only screen and (max-device-width : 1350px) and (min-device-width: 720px){
        width: 30rem;
        height: 42rem;
    }
    
    & .img_box {
        @media only screen and (max-device-width : 700px) {
            height: 15%;
            margin-bottom: 1rem;


        }
        color: #f4f4f4;
        width: 100%;
        height: 35%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        & .box_text {
            color: white;
            font-family: 'Caveat Brush', cursive;
            text-align: justify;
            

        }
        & img {
            width: 50%;
            height: auto;
        }
    }
}


#day {
    position: absolute;
    background-image: url(../images/day2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    top: 55%;
    left: 34%;
    color: white;
 
    @media only screen and (max-device-width: 700px) {
        height: 35rem;
        width: 40rem;
        top: 63%;
        left: 50%;
        
    }
    // DO ZMIANY !!!
    @media only screen and (max-device-width: 550px) {
        height: 30rem;
        width: 30rem;
        top: 65%;
        left: 50%;
    }

    @media only screen and (max-device-width: 420px)  {
        width: 25rem;
        top: 65%;
        left: 50%;
    }
    @media only screen and (max-device-width: 1360px) and (min-device-width: 1024px) {
        top: 55%;
        left: 50%;
    }
    @media only screen and (max-device-width: 1024px) and (min-device-width: 700px) {
        top: 60%;
        left: 50%;
        width: 45rem;
        height: 41rem;
    }
 
    
}

#night {
    position: absolute;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 55%;
    left: 80%;
    color: white;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        top: 65%;
        left: 55%;
    }
    @media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
        top: 55%;
        left: 80%;
    } 
    @media only screen and (max-device-width: 1360px) {
        display: none;
    }
}
#city {
    @media only screen and (max-device-width: 700px) {
        display: block;
        position: absolute;
        left: 50%;
        top: 15%;
        font-size: 4rem;
    } 
    @media only screen and (max-device-width: 700px) {
        font-size: 3.3rem;
    }
}
.weather-box {
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caveat Brush', cursive;
    margin-top: -2.5rem;
    h3 {
        font-size: 1.7rem;
        margin: 0.3rem 0;
        @media only screen and (max-device-width: 700px) {
            display: none;
        }
    }
    h3.temp_box {
        @media only screen and (max-device-width: 700px) {
            display: none;
        }
        font-size: 5.7rem;
        margin-bottom: 0;
        margin-top: 0;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 2.5rem;
            margin-top: -1rem;
            height: 35rem;
        }
    }
   
/*  
     &-night {

    }
*/
    &-day {
        color: black;
    }
   
}

#week_box {

    height: 43%;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 0.5rem;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        font-size: 0.7rem;
        & .week-list-dark {
            & .week-item {
                padding-right: 0.5rem;
            }
        }
    }
    & .week-list-dark {
        color: white;
    }

    & .week-list-light {
        color: black;
    }

    & .week_day-list{
        font-family: 'Caveat Brush', cursive;
        height: 40%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        margin-top: 0;
        font-size: 1rem;
        & .week-item{
            height: 20%;
            font-weight: 700;
            padding-right: 1.5rem;
            &:first-child {
                padding-left: 1.5rem;
            }
        }
    }

    & .week_icon-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding-left: 0;

        & .week-icon-img {
            @media only screen and (max-device-width: 780px) {
                width: 90%;
            }
            width: 100%;
        }
    }

    & .week_temp-list {
        list-style: none;
        font-family: 'Caveat Brush', cursive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        @media only screen and (max-device-width: 780px) {
            margin: 0;
        }
        & li:first-child {
            padding-left: 1rem;
        }

        & .week-temp {

            & .flex {
                display: flex;
                justify-content: center;
                & h2 {
                    margin: 0;
                    padding: 0 1rem 0 0;
                    font-size: 1rem;
                }
            }
        }
    }
    .zeroMargin {
        margin: 0;
    }
}

#nav-button {

   
    @media only screen and (max-device-width: 1024px) and (min-device-width: 700px) {
        top: 17%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    @media only screen and (max-device-width: 700px) {
        top: 28%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    font-family: 'Caveat Brush', cursive;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    position: absolute;
    top: 12%;
    left: 5%;
    padding: 0.8rem 1.2rem;
    border-radius: 7px;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: #BF953F;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        @media only screen and (min-device-width: 1024px) {
            transform: translateY(-7px);
        }
        @media only screen and (max-device-width: 1024px) and (min-device-width: 700px) {
            top: 5%;

        }
    } 
}

#navi-wrapper{
    @media only screen and (min-device-width: 1360px) {
        top: 20%;
        left: 50px;
    }
    @media only screen and (max-device-width: 550px)  {
        top: 18%;
        left: 50%;
        width: 80%;
        transform: translate(-50%,-206%);
        height: 10rem;
        padding: 0;
    }
    @media only screen and (max-device-width: 1024px) and (min-device-width: 700px) {
        top: 17%;
        left: 50%;
        transform: translate(-50%,-206%);
        width: 80%;
        height: 10rem;
        padding: 0;
    }
    @media only screen and (min-device-height: 900px) and (max-device-width: 900px) {
        top: 17%;
        left: 50%;
        width: 80%;
        transform: translate(-50%,-226%); 
        height: 10rem;
        padding: 0;
    }
    @media only screen and (max-device-width: 780px) {
        top: 17%;
        left: 50%;
        width: 80%;
        transform: translate(-50%,-206%); 
        height: 10rem;
        padding: 0;
    }

    position: absolute;
    top: 20%;
    left: 100px;
    width: 14rem;
    height: 25rem;
    transform: translateX(-250px);
    background-image: linear-gradient(to right,
    #BF953F,
    #FCF6BA,
    #B38728,
    #FBF5B7,
    #AA771C);
    border-radius: 7px;
    box-shadow: 0px 15px 20px rgba(255,207,64, 0.4);
    transition: all 0.3s ease 0s;
    padding: 1rem 2rem;
    & #navi {
        @media only screen and (max-device-width: 1024px)  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 8rem;
            transform: translateX(0);
            padding: 0.3rem;
        }

        color: white;
        list-style: none;
        padding: 0.6rem;
        @media only screen and (max-device-width: 550px) {
            padding: 0;
        }
      
        & .navi-item {
            @media only screen and (max-device-width: 750px) {
                :last-child{
                    margin-bottom: 0.2rem;
                    padding: 0.2rem;
                }
            }
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            text-align: center;
            color: #152d32;
            margin: 5px;
            background: $color;
            padding: 1rem 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease 0s;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 15px 20px rgba(0,0,0, 0.4);
            }
            

           
         @media only screen and (max-device-width: 1024px)  {
                    width: 80%;
                    padding: 0;
                    &:not(:last-child) {
                        margin-bottom: 0.5rem;
                    } 
                }
                @media only screen and (max-device-width: 1024px)  {
                    width: 80%;
                    margin-bottom: 0.3rem;
                }
                margin-bottom: 2rem;       
        }
    }
    .search-box {
        position: absolute;
        transform: rotateX(180deg);
        backface-visibility: hidden;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-image: linear-gradient(to right,
    #BF953F,
    #FCF6BA,
    #B38728,
    #FBF5B7,
    #AA771C);
        transition: all 0.3s ease 0s;
        border-radius: 7px;
        box-shadow: 0px 15px 20px rgba(255,207,64, 0.4);
        display: flex;
        text-align: center;
        align-items: center;
        & input {
            @media only screen and (max-device-width: 1024px) {
                width: 46%;
                padding: 6px 15px;
            }
            border-radius: 6px;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        & .sub {
            @media only screen and (max-device-width: 1024px) {
                text-align: left;
                padding: 8px 12px;
            }
            border-radius: 6px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            font-family: 'Caveat Brush', cursive;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            cursor: pointer;
            outline: none;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            font-weight: 600;
        }
        & #geo-result{
            width: 60%;
            color: black;
            font-size: 1rem;
            letter-spacing: 0.2rem;
        }
        & .search-back-btn {
            position: relative;
            top: -48%;
            left: 88%;
        }
    }
    
}

#start-weather {
    font-family: 'Caveat Brush', cursive;
    font-size: 1rem;
    width: 10rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 51%;
    padding: 0.8rem 1.2rem;
    border-radius: 7px;
    transition: all 0.3s ease 0s;
    @media only screen and (max-device-width: 1360px) {
        left: 75%;
        top: 50%;
    }
    @media only screen and (max-device-width: 1024px) and (min-device-width: 700px) {
        left: 79%;
         top: 3%;
    }
    @media only screen and (max-device-width: 700px) and (min-device-width: 300px) {
        left: 1%;
        top: 32%;
        width: 31rem;
        padding: 0 0.5rem;
    }
       
    &:hover {
        background-color: #BF953F;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
      
        @media only screen and (min-device-width: 1024px) {
            transform: translateY(-7px);
        }
    } 
}